[submodule "extras/jalangilogger"]
	path = extras/jalangilogger
	url = https://github.com/cs-au-dk/jalangilogger.git
	branch = master
[submodule "extras/inspector"]
	path = extras/inspector
	url = https://github.com/cs-au-dk/TAJS-Inspector.git
	branch = master
